@import './shared/fonts';

// Components
@import './components/header';
// Pages
@import './index';

.absolute {
  position: absolute;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.self-typed {
  font-size: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.base-page {
  padding-top: 150px;
  color: white;
}
//normal css
// .parent-class h1 {
//   color: blue;
// }
// .parent-class.sibling-class h1 {
//   font-weight: bold;
// }

//scss
// .parent-class {
//   .child-class {
//     color: blue;
//     font-weight: bold;
//   }
// }

// .parent-class {
//   &.sibling-class {
//     h1 {
//       font-weight: bold;
//     }
//     h2 {
//       font-size: 150px;
//     }
//   }
// // }

// .parent-class {
//   &-title {
//     color: red;
//   }
//   &-date {
//     color: rgb(17, 5, 131);
//   }
// }
